#cabinet {
	--space: 20px;
}

#info {
	display: flex;
	padding: 2vh var(--space);
}

#info span {
	--size: var(--step-1)
}

#userAvatar {
	border-radius: 100vw;
	width: 80px;
	height: 80px;
}

.fields {
	margin: 10px var(--space);
}

.fields > * {
	display: block;
	margin: 3px 0;
}

#name {
	font-weight: 700;
}

#cabinet li a {
	padding: 1vh var(--space);
}

#logout {
	text-align: left;
	padding-left: var(--space);
}

#resetPassword {
	background: unset;
	width: fit-content;
	font-weight: 700;
	padding: 0;
	margin-top: 2vh;
}
