#designation i {
	border-radius: 2px;
	margin-right: 10px;
	margin-top: 4px;
}

#controlPanel {
	position: sticky;
	background: rgb(var(--white));
	box-shadow: 0 0 20px rgba(var(--brown), 0.1);
	height: 100vh;
	top: 0;
	padding: 4vh 20px;
}

#controlPanel > *:not(:last-child) {
	margin-bottom: 4vh;
}

.buttons button {
	width: 100%;
	color: rgba(var(--brown));
}

.buttons button:not(:last-child) {
	margin-bottom: 2vh;
}

#makeNewProcedure {
	--back: var(--brown);
	--o: 0.2;
}

#controlPanel table :where(td, th) {
	--space: 1px;
}