#makeProc :global(.popupContent) {
	left: 50%;
	top: 50%;
}

#makeProc input {
	text-transform: capitalize;
	letter-spacing: 0;
}

#makeProc form > *:not(:first-child) {
	margin-top: 4vh;
}

#makeProc i {
	margin-right: 14px;
}

#makeProc :global(.options) {
	width: 100px;
	max-height: 200px;
}

.title {
	margin-bottom: 8px;
	font-weight: 700;
}

#add {
	--back: rgba(var(--brown), 0.2);

	background: var(--back);
}

#design {
	--order: 1;
	--back: var(--trans);

	position: relative;
	display: flex;
    align-items: center;
	grid-column-start: calc(var(--col) * var(--order));
	border-radius: var(--def-radius);
	padding: 10px 20px;
}

#design:disabled {
	cursor: unset;
	opacity: 0.5;
}

#design:not(:disabled):hover {
	--back: var(--brown);
	--o: 0.2;
}

#countProcedures {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	background: rgba(var(--brown));
	color: rgb(var(--white));
	letter-spacing: 0;
	font-size: 12px;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	pointer-events: none;
}

#design img {
	width: 20px;
	height: 20px;
	margin-left: 1vw;
}

.input input {
	box-shadow: inset 0 0 0 var(--scale) rgba(var(--lineColor), var(--opacity));
}

.input:not(#time) > * {
	display: block;
}

.buttons {
	--col: 3;

	display: grid;
	grid-template-columns: repeat(var(--col), 1fr);
}

.buttons button {
	width: 100%;
}

.agreeTerms {
	margin-bottom: 1vh;
}

.pdfLink {
	color: rgb(var(--brown));
	font-weight: 600;
	text-decoration: underline;
}