:where(#auth, #confirm) {
	display: flex;
	justify-content: center;
	background: rgb(var(--lightBrown));
	min-height: 100vh;
	overflow: hidden;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: rgb(var(--white));
	box-shadow: 0 0 14px rgba(var(--brown), 0.3);
	max-width: 500px;
	padding: 4vh 3%;
}

.form img {
	width: 26px;
	height: 26px;
}

.form input {
	box-shadow: inset 0 0 0 var(--scale) rgba(var(--lineColor), var(--opacity));
}

.form form {
	margin: 3vh 0;
}

.form form button:hover {
	--back: rgba(var(--brown), 0.6);
}

.title {
	text-align: center;
	text-transform: uppercase;
	color: rgb(var(--brown));
	font-size: var(--step-1);
	margin-bottom: 1vh;
}

.message.left {
	text-align: left;
}

.message.center {
	text-align: center;
}

.question > * {
	display: inline-block;
}

.question button {
	background: unset;
	font-weight: 800;
	margin-left: 6px;
	margin-bottom: 2vh;
}

#confirm .row {
	display: flex;
	justify-content: center;
	margin-bottom: 4vh;
}

#confirm .row input {
	text-align: center;
	font-size: calc(var(--step-0) - 1px);
	width: 40px;
	height: 40px;
	margin: 0 1vw;
	padding-left: 0;
}

#confirm form button {
	margin: 0 auto;
}
