:where(#auth, #confirm) {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
}

:global(.form) {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: rgb(var(--white));
	box-shadow: 0 0 14px rgba(var(--brown), 0.3);
	max-width: 500px;
	padding: 4vh 3%;
}

:where(#auth, #confirm) .form :where(#signin, #signup) {
	margin-left: auto;
	margin-right: auto;
}

:where(#auth, #confirm) .form :where(#signin, #signup):hover {
	--back: rgba(var(--brown), 0.6);
}

:where(.authQueastion, .forgotPassword) > * {
	display: inline-block;
}

:where(.authQueastion, .forgotPassword) button {
	background: unset;
	font-weight: 800;
	margin-left: 6px;
}

:global(.navigation) button:nth-child(1) {
	--back: var(--gray);
	--o: 0.8;
}

:global(.navigation) button:nth-child(2) {
	--back: var(--brown);
	--o: 0.4;
}

#loader {
	display: none;
	align-items: center;
	position: absolute;
    background: rgb(var(--white));
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
	z-index: 1;
}

#loader.isLoading {
	display: flex;
}

#loader img {
	height: var(--size);
}