#filters {
	position: sticky;
	background: rgb(var(--white));
	box-shadow: 0 0 20px rgba(var(--brown), 0.1);
	padding: 0 20px;
	height: 100vh;
	width: 100%;
	max-width: 300px;
	top: 0;
}

#reset {
	color: rgba(var(--brown));
	margin: 3vh 0;
}

.alphabetList {
	margin-top: 1vh;
}

#sort > button {
	padding: 0;
}