.current {
	box-shadow: inset 0 0 0 1px rgb(var(--brown));
	font-weight: 700;
}

.week .hover {
	--back: rgba(var(--brown), 0.2) !important;
}

.empty {
	cursor: unset;
}

.week td {
	padding: var(--space);
}

.week td button {
	--back: rgba(var(--transp));
	--size: var(--step-0);

	background: var(--back);
	border-radius: 50%;
}

.week td button:not(.empty):hover {
	--back: rgba(var(--gray), 0.6);
}