.search {
	--shadow: 0 0 2px rgba(var(--brown), 0.4);
	--bottomLine: 0 1px 0 rgba(var(--brown), 0.2);

	position: relative;
	box-shadow: var(--shadow);
}

.search input {
	border-radius: unset;
}

.search.open .options {
	display: block;
	max-height: 200px;
	overflow-y: scroll;
}

.checkboxList {
	max-height: 200px;
	overflow-y: scroll;
}

.checkboxList > *:not(:last-child) {
	box-shadow: var(--bottomLine);
}

.options {
	display: none;
	background: rgb(var(--white));
	border-radius: 0 0 var(--def-radius) var(--def-radius);
	width: 100%;
	left: 0;
	overflow: hidden;
	z-index: 1;
}

.options button {
	--back: var(--white);
	--o: 1;

	display: block;
	background: rgba(var(--back), var(--o));
	padding: 6px 2vw;
	cursor: pointer;
}

.options button:hover {
	--back: var(--brown);
	--o: 0.2;
}

.options li:not(:last-child) button {
	border-bottom: 1px solid rgba(var(--brown), 0.5);
}
