#info {
    display: flex;
    margin: 4vh 0;
}

#info h2 {
    font-size: var(--step-5);
}

.wrapper {
    display: flex;
    box-shadow: inset 0 0 0 1px rgb(var(--gray));
    padding: 1vh 3vw;
    width: 100%;
}

.heart {
    --back: var(--gray);
    --o: 1;

    position: relative;
    padding: calc(var(--step-5) + 4px);
}

.heart i {
    position: absolute;
    font-size: var(--step-5);
    color: rgb(var(--brown));
    transform: translate(-50%, -50%);
	left: 50%;
    top: 50%;
}