.links {
	overflow-y: scroll;
}

#design {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#design #countProcedures {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: rgb(var(--brown));
	color: rgb(var(--white));
	letter-spacing: 0;
	font-size: 12px;
	width: 20px;
	height: 20px;
	pointer-events: none;
}