.aside {
	height: 100vh;
	overflow-y: scroll;
}

.aside.popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}

.aside:global(.fitContent) .content {
	width: fit-content;
}

.content {
	width: 100%;
	height: inherit;
	padding: 20px 0;
}

.aside.popup .content {
	position: absolute;
	background: rgb(var(--white));
	box-shadow: 0 0 20px rgba(var(--black), 0.6);
	right: 0;
	top: inherit;
	z-index: 1;
}

.content > * {
	padding: 1vh 0;
}

.content button {
	width: 100%;
}

#close {
	margin-left: auto;
	margin-right: 20px;
	padding: 0;
	width: 20px;
	height: 20px;
}

.background {
	position: absolute;
	width: inherit;
	height: inherit;
	left: 0;
	top: 0;
}
