.form {
    position: sticky;
    background: rgb(var(--white));
    box-shadow: 0 0 8px rgba(var(--brown), 0.2);
    bottom: 0;
    padding-top: 2vh;
    padding-bottom: 5vh;
}

.form {
    padding-left: 4vw;
    padding-right: 4vw;
}

.form form > div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 0.1fr;
    margin: 0;
}

.form form button[type="submit"] {
    padding: 0 2vw;
}

.form form button[type="submit"]:not(:disabled):hover {
    --back: var(--brown);
    --o: 0.2;
}

.form form button[type="submit"] i {
    color: rgb(var(--brown));
    font-size: var(--step-4);
}

.form .edit :global(.field) {
    --lineColor: var(--brown);
    --opacity: 1;
    --scale: 2px;
    --backOpacity: 0.5;
}