.userProcedure {
	--size: 250px;
}

.userProcedure img {
	height: var(--size);
}

.horizontal {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.5vw;
}

.horizontal .userProcedure {
	position: relative;
	display: grid;
	width: var(--size);
}

.horizontal .userProcedure img {
	transition: unset;
}

.vertical .userProcedure img {
	max-width: var(--size);
	width: 100%;
}

.horizontal :global(.favorite) {
	--pos: absolute;
}

.vertical :global(.favorite) {
	--pos: relative;
}