.background {
	--w: 0px;

	position: relative;
	background: rgba(var(--gray), 0.4);
	max-width: var(--w);
	width: 100%;
	height: auto;
	overflow: hidden;
}

.background::before {
	--w: 60%;

	content: "";
	position: absolute;
	background: linear-gradient(
		to right,
		rgba(var(--transp)) 0,
		rgb(var(--white)),
		rgba(var(--transp))
	);
	width: var(--w);
	height: 100%;
	animation: 2s linear gradient infinite;
}

@keyframes gradient {
	from {
		left: calc(var(--w) * -1);
	}

	to {
		left: 100%;
	}
}
