.popupBackground {
	position: fixed;
	transform: translate(-50%, -50%);
	width: 100vw;
	height: 100vh;
	left: 50%;
	top: 50%;
}

.popupContent {
	position: relative;
	z-index: 1;
}

.popup {
	position: fixed;
	box-shadow: 0 0 20px rgba(var(--black), 0.6);
	border-radius: var(--def-radius);
	transform: translate(-50%, -50%);
	background: rgb(var(--white));
	max-width: 500px;
	width: fit-content;
	left: 50%;
	top: 50%;
	padding: 20px;
	z-index: 999;
}

.popup img {
	display: block;
}

#close {
	margin-left: auto;
	margin-bottom: 2vh;
	padding: 0;
	width: 20px;
	height: 20px;
}
