.calendar {
	align-self: center;
	border: none;
	width: fit-content;
}

.calendar :where(td, th) span {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(var(--step-0) - 5px);
	width: 24px;
	height: 24px;
	user-select: none;
}

.calendar table {
	margin: 0 auto;
}
