.prompt {
	position: relative;
}

.prompt:hover .wrapper {
	opacity: 1;
}

.wrapper {
	position: absolute;
	box-shadow: 0 0 10px rgba(var(--black), 0.2);
	background: rgb(var(--white));
	border-radius: var(--def-radius);
	transform: translateY(5%);
	transition: unset;
	padding: 1vh 1vw;
	opacity: 0;
	pointer-events: none;
	z-index: 995;
}

.wrapper > * {
	white-space: nowrap;
	--size: var(--step-2);
}

.prompt :global(.title) {
	cursor: help;
}

.prompt :global(.title) > * {
	--size: var(--step-2);
}

.prompt :global(.title) span {
	margin-left: 1vw;
}
