.card {
	position: relative;
	display: flex;
	background: rgb(var(--white));
	box-shadow: 0 0 10px rgba(var(--brown), 0.1);
	margin: 0 auto 3vw auto;
}

.name {
	--size: var(--step-2);
	font-weight: 600;
	margin-bottom: 2vh;
	word-break: break-word;
}

.procImage {
	background: rgb(var(--lightBrown));
    color: rgb(var(--brown));
	height: var(--sizeCard);
    width: var(--sizeCard);
    text-align: center;
    font-weight: 600;
}

.content {
	display: grid;
	padding: 2vh 1vw;
	width: 100%;
}

.content > *:not(:last-child) {
	margin-bottom: 3vh;
}

.state {
	display: flex;
	margin-right: 1vw;
}

.state span {
	margin-left: 0.6vw;
}

.topPanel {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

:global(.favorite) {
	--back: var(--white);

	position: var(--pos);
	padding: calc(var(--step-5) + 4px);
    top: 0;
    right: 0;
}

:global(.favorite) i {
	position: absolute;
	color: rgb(var(--brown));
	font-size: var(--step-5);
    transform: translate(-50%, -50%);
	left: 50%;
    top: 50%;
}

.bottomPanel {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.price {
	font-size: var(--step-5);
	font-weight: 800;
	margin-right: 1vw;
}

#more {
	align-self: center;
}