.card {
	--ind: 1;

	display: flex;
	position: absolute;
	justify-content: space-between;
	border-radius: var(--def-radius);
	box-shadow: 0 0 1px rgba(var(--black), 0.2);
	width: 100%;
	transition: unset;
	height: fit-content;
	right: 0;
	overflow: hidden;
	cursor: default;
	z-index: var(--ind);
}

.card::before {
	content: "";
	position: absolute;
	box-shadow: inset 0 0 0 1px rgb(var(--black));
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	pointer-events: none;
}

.buttons {
	display: flex;
	background: rgb(var(--white));
}

.buttons button {
	align-self: baseline;
	padding-left: 1vw;
	padding-right: 1vw;
}

.buttons button:hover {
    --back: var(--gray);
	--o: 0.8;
}

.buttons button i {
	font-size: var(--step-4);
	pointer-events: none;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.card span {
	display: block;
}

.card :where(p, span) {
	--size: var(--step-2);

	margin: 6px;
	user-select: none;
}

#more {
	--back: var(--white);
	--o: 1;
	
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 6px;
}

#more:hover {
	--back: var(--gray);
}