#time input {
	display: block;
	background: var(--back);
	box-shadow: 0 calc(var(--scale) + 1px) 0 -1px rgba(var(--lineColor), var(--opacity));
	text-align: center;
	padding: 4px 0;
	margin: 0 4px;
}

#time > div input:not(:disabled):focus {
	--back: rgba(var(--brown), 0.1);
}

#time {
	display: flex;
}

#time > div {
	display: inherit;
}

#day {
	position: relative;
}

#time i {
	color: rgb(var(--darkGray));
	align-self: center;
}

#time input {
	border-radius: unset;
}

#dayAndMonthCalendar {
	position: fixed;
	background: rgb(var(--white));
	border-radius: var(--def-radius);
	box-shadow: 0 2px 10px rgba(var(--black), 0.3);
	transform: translateY(60%);
	padding: 4px 8px;
	z-index: 1;
}

#time .warning input {
	--back: rgba(var(--red), 0.1);
	--lineColor: var(--red);
	--opacity: 0.8;
	--scale: 2px;
}
