.calendar {
	align-self: center;
	border: none;
	width: fit-content;
}

.calendar :where(td, th) :where(button, span) {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	user-select: none;
}

.calendar table {
	margin: 0 auto;
}
