#design {
	--order: 1;
	--back: var(--brown);
	--o: 0.2;

	grid-column-start: calc(var(--col) * var(--order));
	border-radius: var(--def-radius);
	padding: 10px 20px;
}

.buttons {
	--col: 3;

	display: grid;
	grid-template-columns: repeat(var(--col), 1fr);
}

.buttons button {
	width: 100%;
}

#add {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	white-space: nowrap;
	width: 100%;
}

#add {
	--o: 0.2;
}

#add img {
	margin-right: 1vw;
	width: 30px;
	height: 30px;
}
