.channelInput {
	display: flex;
	padding: 0 !important;
}

.channelInput button {
	height: 100%;
}

.channelInput input {
	padding: var(--inputHeight) 0;
	width: 100%;
}

.channelInput:global(.field):has(input:where(:hover, :focus)) {
	--opacity: 0.8;
    --scale: 2px;
}

#code h3 {
	padding: 0;
}