header {
    display: grid;
    grid-auto-flow: column;
    padding: 2vh 5%;
}

header > * {
	margin: 0 1vw;
}

header nav {
	display: flex;
}

header nav ul {
	display: flex;
	height: 100%;
}

header nav li a {
	--o: 0;
	
	display: flex;
	align-items: center;
	background: rgba(var(--brown), var(--o));
	height: 100%;
	padding: 0 1vw;
	text-transform: uppercase;
	font-weight: 700;
	white-space: nowrap;
}

header nav li a:hover {
	--o: 0.4;
}

header nav a {
	display: flex;
	align-items: center;
}

header nav > * {
	margin: 0 1vw;
}

#userInfo {
	width: 40px;
	padding: 0;
}

#favorites {
	padding: 1vw;
}

#favorites i {
	position: relative;
	font-size: calc(var(--step-5) + 4px);
}

#favorites span {
	background: rgb(var(--gray));
	position: absolute;
    font-size: var(--step-2);
    width: calc(var(--step-2) + 3px);
    height: calc(var(--step-2) + 3px);
	transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vw;
    line-height: 0;
    right: 0;
    top: 0;
	pointer-events: none;
}
