#time > div {
	display: block;
	background: var(--back);
	box-shadow: 0 calc(var(--scale) + 1px) 0 -1px rgba(var(--lineColor), var(--opacity));
}

#time > div:not(:disabled):focus {
	--back: rgba(var(--brown), 0.1);
}

#time {
	display: flex;
}

#time > div {
	display: inherit;
	padding: 4px 0;
	margin: 0 4px;
}

#time #day {
	position: relative;
}

#time #day > button {
	background: unset;
}

#time > div {
	--lineColor: var(--brown);
	--opacity: 0.4;
	--scale: 1px;

	white-space: nowrap;
}

#time button {
	text-transform: capitalize;
}

#time > div:hover {
	--opacity: 1;
	--scale: 2px;
}

#time i {
	color: rgb(var(--darkGray));
	align-self: center;
}

#time input {
	border-radius: unset;
}

#time #dayAndMonthCalendar {
	position: fixed;
	background: rgb(var(--white));
	border-radius: var(--def-radius);
	box-shadow: 0 2px 10px rgba(var(--black), 0.3);
	transform: translateY(60%);
	padding: 4px 8px;
	z-index: 1;
}

#time .warning {
	--back: rgba(var(--red), 0.1);
	--lineColor: var(--red);
	--opacity: 0.8;
	--scale: 2px;
}
