.wrapper {
	display: flex;
	align-items: center;
	padding: 0;
}

.wrapper > * {
	margin-left: 1vw;
	margin-right: 1vw;
}

.wrapper input {
	padding: var(--inputHeight) 0;
	width: 100%;
}

#switchVisibleState {
	background: unset;
}
