.passwordInput {
	display: flex;
	align-items: center;
	padding: 0 !important;
}

.passwordInput input {
	padding: var(--inputHeight) 1vw;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

#switchVisibleState {
	background: unset;
	margin: 0 1vw;
}

.passwordInput:global(.field):has(input:where(:hover, :focus)) {
	--opacity: 0.8;
    --scale: 2px;
}

.passwordInput:has(:global(.error)) {
	--lineColor: var(--red);
}

.input {
	box-shadow: unset !important;
}