.card {
	display: flex;
	background: rgb(var(--white));
	box-shadow: 0 0 10px rgba(var(--brown), 0.1);
	margin: 0 1vw 3vh;
	cursor: pointer;
}

.name {
	font-size: var(--step-2);
	font-weight: 600;
	margin-bottom: 2vh;
	word-break: break-word;
}

.procImage {
	background: rgb(var(--gray));
	height: var(--sizeCard);
}

.content {
	display: grid;
	padding: 2vh 1vw;
	width: 100%;
}

.state {
	display: flex;
	margin-right: 1vw;
}

.state span {
	margin-left: 0.6vw;
}

.topPanel {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.favourite {
	background: unset;
	margin-right: 1vw;
}

.favourite i {
	--clr: rgb(var(--brown));

	font-size: var(--step-1);
	color: var(--clr);
}

.bottomPanel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 3vh;
}

.price {
	font-weight: 800;
	margin-right: 1vw;
}
