.select {
	position: relative;
}

.select button {
	text-align: left;
	background: unset;
}

.select h3 {
	display: block;
	padding: 6px 0;
	user-select: none;
}

.select.absolute :global(.options) {
	position: absolute;
	box-shadow: 0 2px 10px rgba(var(--black), 0.3);
	border-radius: var(--def-radius);
	left: 0;
	bottom: 0;
	transform: translateY(100%);
	z-index: 997;
}

.select :global(.options) {
	display: none;
	background: rgb(var(--white));
	min-width: 100%;
	max-height: 100px;
	overflow: hidden scroll;
}

.select :global(.options) button:hover {
	--back: rgba(var(--gray), 0.6);
}

.select :global(.options) button {
	--back: rgb(var(--white));

	background: var(--back);
	padding: 6px 0 6px 10px;
	width: 100%;
	white-space: nowrap;
}

.select :global(.options) .selected {
	--back: rgb(var(--darkGray));
}

.arrow {
	--rotate: 0deg;

	transform: rotateX(var(--rotate));
	margin-left: 10px;
	width: 10px;
	height: 10px;
}

.select.open .arrow {
	--rotate: 180deg;
}

.select.open :global(.options) {
	display: block;
}

.selectValue {
	display: flex !important;
	align-items: center;
	cursor: pointer;
}
