.range {
	--r: 16px;

	width: 100%;
	height: fit-content;
	margin: calc(var(--r) / 2) 0;
}

.rangeWrapper {
	position: relative;
	width: 100%;
	margin-top: 1vh;
}

.rangeWrapper input {
	display: block;
	background: rgb(var(--gray));
	border-radius: 100vw;
	width: inherit;
	height: 2px;
	cursor: pointer;
}

.rangeWrapper input::-webkit-slider-thumb {
	visibility: hidden;
}

.track {
	position: absolute;
	height: 100%;
	top: 0;
	left: calc(var(--r) / 2);
	right: calc(var(--r) / 2);
	pointer-events: none;
}

.thumb {
	position: absolute;
	background: black;
	border-radius: 100vw;
	transition: unset;
	width: var(--r);
	height: var(--r);
	transform: translate(-50%, -50%);
	left: 0%;
	top: 50%;
}

.inputs {
	margin: 4vh 5%;
}

.inputs > div,
.inputs {
	display: flex;
	align-items: center;
}

.inputs button {
	width: fit-content;
	padding: var(--inputHeight) !important;
	margin-left: 1vw;
}

.inputs input {
	text-align: center;
	transition: unset;
	padding-left: 0.4vw;
	padding-right: 0.4vw;
	margin: 0 5%;
}
