.button {
	position: relative;
	overflow: hidden;
}

.dot {
	position: absolute;
	background: rgb(var(--white));
	transition: unset;
	transform: translate(-50%, -50%) scale(0);
	border-radius: 50%;
	opacity: 0.6;
	width: 0px;
	height: 0px;
	pointer-events: none;
}

@keyframes fadeAnimation {
	0% {
		opacity: 0.6;
		transform: translate(-50%, -50%) scale(0);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(1);
	}
}
