.hours {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.hours .cell {
	box-shadow: var(--lineSize) 0 0 var(--lineColor);
	font-size: calc(var(--step-0) * 0.7);
	letter-spacing: 0;
	bottom: 0;
	user-select: none;
}

.hours .cell span {
	font-size: calc(var(--step-0) - 5px);
	white-space: nowrap;
}
