.hours {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.hours .cell {
	position: relative;
	box-shadow: var(--lineSize) 0 0 var(--lineColor);
	letter-spacing: 0;
	user-select: none;
}

.hours .cell span {
	position: absolute;
	background: rgb(var(--darkWhite));
	--size: calc(var(--step-0));
	transform: translateY(-50%);
	top: 0;
	padding: 0 2px;
	white-space: nowrap;
}
