#presentation {
	--lineColor: rgba(var(--brown), 0.4);
	--lineSize: 1px;

	width: 100%;
	margin: 0 4%;
	cursor: pointer;
}

.wrapper {
	position: relative;
}

#presentation.noActiveGrabbing {
	cursor: grab;
}

#presentation.activeGrabbing {
	cursor: grabbing;
}

.nameColumns {
	position: sticky;
	background: rgb(var(--darkWhite));
	box-shadow: 0 var(--lineSize) 0 var(--lineColor);
	padding: min(20px, 4%) 0;
	top: 0;
	cursor: default;
	z-index: 2;
}

.nameColumns > div {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-left: auto;
}

.nameColumns h3 {
	color: rgba(var(--brown), 0.8);
	text-transform: uppercase;
	align-self: center;
	white-space: nowrap;
	margin: 0 6px;
}

#newProcedure {
	box-shadow: 0 0 16px rgba(var(--black), 0.4);
	z-index: 1;
}

.content {
	display: flex;
}

.cards {
	position: relative;
	width: 100%;
}

.cards > div:not(:is(#newProcedure, #elapsedTime)) {
	--op: 1;

	opacity: var(--op);
}

:where(.noActiveGrabbing, .activeGrabbing) .cards > div:not(:is(#newProcedure, #elapsedTime)) {
	--op: 0.4;
}

.hours {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.lines {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}

.lines > div {
	position: relative;
	pointer-events: none;
}

.lines > div::before {
	content: "";
	position: absolute;
	box-shadow: 0 0 0 0.5px var(--lineColor);
	width: 100%;
	top: 0;
}

.hours .cell {
	box-shadow: var(--lineSize) 0 0 var(--lineColor);
	font-size: calc(var(--step-0) * 0.7);
	letter-spacing: 0;
	bottom: 0;
	user-select: none;
}

.hours .cell span {
	font-size: calc(var(--step-0) - 5px);
	white-space: nowrap;
}

#current {
	--currentLineColor: var(--red);

	position: absolute;
	background: rgb(var(--currentLineColor));

	width: 100%;
	height: 1px;
	bottom: 0;
	z-index: 1;
}

#current::after {
	content: "";
	position: inherit;
	background: inherit;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	width: 8px;
	height: 8px;
	left: 0;
	top: 50%;
}

#elapsedTime {
	position: absolute;
	background: rgba(var(--brown), 0.1);
	transition: unset;
	width: 100%;
	top: 0;
}
