:root,
::before,
::after {
	--transp: 0, 0, 0, 0;
	--black: 51, 51, 51;
	--darkGray: 129, 129, 129;
	--brown: 140, 113, 72;
	--lightBrown: 255, 247, 237;
	--gray: 217, 217, 217;
	--red: 179, 24, 28;
	--orange: 255, 194, 81;
	--yellow: 192, 169, 111;
	--blue: 131, 179, 242;
	--green: 88, 125, 81;
	--lightGreen: 224, 239, 216;
	--lightGray: 225, 225, 225;
	--darkWhite: 251, 251, 251;
	--white: 255, 255, 255;
}
