:root {
	--transp: 0, 0, 0, 0;
	--black: 51, 51, 51;
	--darkGray: 129, 129, 129;
	--brown: 161, 130, 83;
	--lightBrown: 255, 247, 237;
	--gray: 217, 217, 217;
	--red: 234, 67, 53;
	--blue: 131, 179, 242;
	--green: 150, 231, 136;
	--lightGray: 225, 225, 225;
	--darkWhite: 251, 251, 251;
	--white: 255, 255, 255;
}
