@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

:root {
  --step-0: clamp(0.56rem, calc(0.53rem + 0.14vw), 0.63rem);
  --step-1: clamp(0.63rem, calc(0.60rem + 0.16vw), 0.70rem);
  --step-2: clamp(0.71rem, calc(0.68rem + 0.18vw), 0.79rem);
  --step-3: clamp(0.80rem, calc(0.76rem + 0.20vw), 0.89rem);
  --step-4: clamp(0.90rem, calc(0.86rem + 0.23vw), 1.00rem);
  --step-5: clamp(1.01rem, calc(0.96rem + 0.26vw), 1.13rem);
}