:root {
	--step-0: clamp(0.88rem, calc(0.83rem + 0.24vw), 1rem);
	--step-1: clamp(0.93rem, calc(0.81rem + 0.62vw), 1.25rem);
	--step-2: clamp(1rem, calc(0.78rem + 1.1vw), 1.56rem);
	--step-3: clamp(1.06rem, calc(0.72rem + 1.74vw), 1.95rem);
	--step-4: clamp(1.13rem, calc(0.62rem + 2.55vw), 2.44rem);
	--step-5: clamp(1.21rem, calc(0.49rem + 3.59vw), 3.05rem);
}
