@import url("./color.css");
@import url("./fonts.css");

*,
*::after,
*:not(i):before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	appearance: none;
	color: rgb(var(--black));
	list-style: none;
	text-decoration: none;
	transition: 0.4s all;
	outline: none;
	border: none;
	font-family: "Manrope";

	--def-radius: 5px;
}

span,
p,
a,
h3,
input,
button {
	--size: calc(var(--step-0) - 3px);
	--inputHeight: 8px;

	font-size: var(--size);
	letter-spacing: 1px;
}

h3 {
	font-weight: 500;
}

h2 {
	font-size: var(--step-2);
}

h1 {
	font-size: var(--step-3);
}

h1,
h2,
h3 {
	letter-spacing: 1.5px;
}

body {
	position: relative;
	background: rgb(var(--darkWhite));
	min-height: 100vh;
}

button {
	cursor: pointer;
}

.button {
	--back: var(--transp);
	--o: 0;

	display: block;
	background: rgba(var(--back), var(--o));
	padding: 12px 0;
	font-weight: 700;
	width: fit-content;
}

.button.border {
	--borderColor: var(--brown);

	box-shadow: 0 0 0 1px rgb(var(--borderColor));
	border-radius: var(--def-radius);
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
}

.button.border:hover {
	--back: var(--brown);
	--o: 0.1;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	user-select: none;
}

i {
	display: block;
	font-size: var(--step-0);
}

p {
	line-height: var(--step-2);
}

label {
	display: block;
}

a {
	display: block;
}

::-webkit-scrollbar {
	background: inherit;
}

::-webkit-scrollbar-thumb {
	background: rgb(var(--gray));
	border: 4px solid rgb(var(--darkWhite));
	border-radius: 100vw;
}

input {
	display: block;
}

input:disabled {
	background: rgb(var(--transp));
}

input.border {
	box-shadow: 0 0 0 1px rgb(var(--black));
}

input::placeholder {
	user-select: none;
}

input:where(:not([type="range"])) {
	--lineColor: var(--brown);
	--opacity: 0.4;
	--scale: 1px;

	border-radius: var(--def-radius);
	padding: var(--inputHeight) 0 var(--inputHeight) 1vw;
	width: 100%;
}

form > *:not(:first-child) {
	margin-top: 2.5vh;
}

.title {
	margin-bottom: 8px;
}

input:not(:disabled):where(:hover, :focus) {
	--opacity: 0.8;
	--scale: 2px;
}

main {
	max-width: 1600px;
	margin: 0 auto;
}
