@import url("./color.css");
@import url("./fonts.css");

*,
*::after,
*:not(i):before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	appearance: none;
	color: rgb(var(--black));
	list-style: none;
	text-decoration: none;
	transition: 0.4s all;
	outline: none;
	border: none;
	font-family: "Manrope";

	--def-radius: 5px;
}

span,
p,
a,
h3,
h2,
h1,
input,
button,
.input 
{
	--inputHeight: 8px;
	
	font-size: var(--size);
	letter-spacing: 1px;
}

p,
a,
h3,
span,
input::placeholder,
input,
button {
	--size: calc(var(--step-1));
}

h1,
h2,
h3 {
	letter-spacing: 1.5px;
}

h1 {
	--size: var(--step-5)
}

body {
	position: relative;
	background: rgb(var(--darkWhite));
	min-height: 100vh;
}

button {
	cursor: pointer;
}

.button {
	--back: var(--transp);
	--o: 0;

	display: block;
	background: rgba(var(--back), var(--o));
	padding: 12px 0;
	font-weight: 700;
	width: fit-content;
}

.button.border {
	--borderColor: var(--brown);

	box-shadow: inset 0 0 0 1px rgb(var(--borderColor));
	border-radius: var(--def-radius);
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
}

.button.border:hover {
	--back: var(--brown);
	--o: 0.4;
}

hr {
	background: rgba(var(--brown), 0.5);
	height: 1px;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	user-select: none;
}

i {
	display: block;
	font-size: var(--step-2);
}

p {
	line-height: 20px;
}

label {
	display: block;
}

a {
	display: block;
}

::-webkit-scrollbar {
	background: inherit;
}

::-webkit-scrollbar-thumb {
	background: rgb(var(--gray));
	border: 4px solid rgb(var(--darkWhite));
	border-radius: 100vw;
}

input {
	display: block;
	background: unset;
	transition: unset;
}

input:disabled {
	background: rgb(var(--transp));
}

input.border {
	box-shadow: inset 0 0 0 1px rgb(var(--black));
}

input::placeholder {
	user-select: none;
}

.input:where(:not([type="range"])) {
	--lineColor: var(--brown);
	--opacity: 0.4;
	--scale: 1px;

	border-radius: var(--def-radius);
	padding: var(--inputHeight) 0 var(--inputHeight) 1vw;
	width: 100%;
}

form > *:not(:first-child) {
	margin-top: 2.5vh;
}

form > *:last-child {
	margin-top: 5vh;
}

.title {
	margin-bottom: 8px;
}

input:not(:disabled):where(:hover, :focus) {
	--opacity: 0.8;
	--scale: 2px;
}

main {
	max-width: 1600px;
	margin: 0 auto;
}

.uppercase {
	text-transform: uppercase;
}

.field {
	box-shadow: 0 0 0 var(--scale) rgba(var(--lineColor), var(--opacity));
}

.form form {
	margin: 3vh 0;
}

.form :where(h1, h2).title {
	text-align: center;
	text-transform: uppercase;
	color: rgb(var(--brown));
	margin-bottom: 1vh;
}

.form .navigation {
	--col: 3;

	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(var(--col), 1fr);
}

.form .navigation > * {
	--order: 0;

	margin: 0;
	width: 100%;
	grid-column-start: calc(var(--col) * var(--order));
}

.form .navigation button:nth-child(2) {
	--order: 1;
}

.form .message.left {
	text-align: left;
}

.form .message.center {
	text-align: center;
}

.errorMessage {
	line-height: unset;
    margin-top: 2vh;
    color: rgb(var(--red));
    font-weight: 900;
}