#cabinet {
	--space: 20px;
}

#cabinet > div:first-child {
	display: grid;
	grid-template-rows: 1fr 1fr 6fr 2fr;
	padding-bottom: 0;
}

#cabinet ul {
	border-bottom: 1px solid rgb(var(--brown));
}

#cabinet li :where(a, button),
#cabinet h3 {
	padding: 10px var(--space);
	text-align: left;
}

#cabinet li :where(a, button:not(:disabled)):hover {
	background: rgba(var(--brown), 0.1);
}

#cabinet li button:disabled {
	opacity: 0.5;
}

.bottom {
	background: rgba(var(--brown), 0.1);
	margin: 0;
}

.bottom ul {
	padding-bottom: 3vh;
}