.navigation {
    box-shadow: 0 0 2px rgb(var(--black));
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.list {
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    margin: 0 3vw;
}

.list a {
    --back: var(--gray);
    --o: 0.5;
    white-space: nowrap;
    padding: 2vh 2vw;
    font-weight: 600;
}

.active,
.list a:hover {
    background: rgba(var(--brown), 0.2);
}